body{
	background-color:  #131313;
	font-family: 'Arial';
	overflow: hidden;
	color : white;
}

header{
	width: 100%;
	text-align: center;
	font-size: 30px;
}

#jour{
	width: 100%;
	display: flex;
  	justify-content: center;
}

#jour button {
	width: 10%;
}

#texte{
	width: 100%;
	display: flex;
  	justify-content: center;
  	text-align: center;
  	font-size: 30px;
}

#reponse{
	margin-top: 4em;
	width: 100%;
	display: flex;
  	justify-content: center;
}

#valider{
	margin-top: 2em;
	width: 100%;
	display: flex;
  	justify-content: center;
}

#video{
	margin-top: 2em;
	width: 100%;
	display: flex;
  	justify-content: center;
}